<div class="weather-container">
  <div class="heading">
    <h1>Weather in your city</h1>

    <!-- Search Bar -->
    <div class="search-container">
      <input type="text" placeholder="Enter city name" class="search-input" #cityInput>
      <button class="search-button" (click)="searchWeather(cityInput.value)">search</button>
      <img *ngIf="isLoading" src="./../assets/1_QHTfTrNDMazdIE_KFwpMyA.gif" alt="Loading..." class="loading-icon">
    </div>
  </div>


  <!-- Forecast Cards -->
  <div class="forecast-wrapper">
    <div class="forecast-card" *ngFor="let forecast of forecasts">
      <div class="date">Date: {{ forecast.date | date: 'dd/MM/yyyy' }}</div>
      <div class="temp bg-lg">Temperature</div>
      <table>
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="bg-lg">Min</td>
            <td class="bg-lg">Max</td>
          </tr>
          <tr>
            <td class="bg-lg">{{ (forecast.minTemp) | number: '1.0-0' }}&#176;C</td>
            <td class="bg-lg">{{ (forecast.maxTemp) | number: '1.0-0' }}&#176;C</td>
          </tr>
          <tr>
            <td>Pressure</td>
            <td colspan="2">{{ forecast.pressure }} hPa</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td colspan="2">{{ forecast.humidity }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
