<div class="weather-container">
  <div class="heading">
    <h1>Weather in your city</h1>

    <!-- Search Bar -->
    <div class="search-container">
      <input type="text" placeholder="Enter city name" class="search-input" #cityInput>
      <button class="search-button" (click)="searchWeather(cityInput.value)">Search</button>
      <img *ngIf="isLoading" src="path-to-loader-image" alt="Loading..." class="loading-icon">
    </div>
  </div>


  <!-- Forecast Cards -->
  <div class="forecast-wrapper">
    <div class="forecast-card" *ngFor="let forecast of forecasts">
      <h2>Date: {{ forecast.date | date: 'dd/MM/yyyy' }}</h2>
      <table>
        <thead>
          <tr>
            <th>Temperature</th>
            <!-- <th>Min</th> -->
            <!-- <th>Max</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Min</td>
            <td>Max</td>
          </tr>
          <tr>
            <td>{{ (forecast.minTemp - 273.15) | number: '1.0-0' }}&#176;C</td>
            <td>{{ (forecast.maxTemp - 273.15) | number: '1.0-0' }}&#176;C</td>
          </tr>
          <tr>
            <td>Pressure</td>
            <td colspan="2">{{ forecast.pressure }} hPa</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td colspan="2">{{ forecast.humidity }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
